<!-- list-detail/list-detail.component.html -->
<div class="flex flex-col h-screen bg-gray-50">

    <!-- Back Button and Title -->
    <div class="px-6 pt-4">
        <button (click)="goBack()" class="text-gray-600 mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 12H5M12 19l-7-7 7-7" />
            </svg>
        </button>

        <div class="mb-6">
            <h1 *ngIf="!isEditingTitle()" (click)="startEditingTitle()"
                class="text-4xl font-light text-gray-800 cursor-pointer">
                {{ listName() }}
            </h1>
            <input #inputTitle *ngIf="isEditingTitle()" [(ngModel)]="editedListName" (blur)="saveTitle()"
                (keydown)="onTitleInputKeydown($event)"
                class="text-4xl font-light text-gray-800 border-b-2 border-gray-400 focus:outline-none focus:border-purple-500 w-full" />
        </div>
    </div>

    <!-- Loading State -->
    <div *ngIf="isLoading()" class="flex justify-center my-8">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-purple-700"></div>
    </div>

    <!-- List Items -->
    <div class="px-6 pb-20" *ngIf="!isLoading()">
        <div class="bg-white rounded-lg p-4 shadow-sm">
            <div *ngFor="let item of listItems(); let last = last" class="py-4 relative" [class.border-b]="!last"
                [class.border-gray-100]="!last">
                <div class="flex justify-between items-start">
                    <h2 class="text-xl font-medium text-gray-800">{{item.nombre}}</h2>
                    <div class="flex items-center">
                        <span class="text-xl font-medium text-gray-800">S/ </span>
                        <p *ngIf="!item.isEditing()" (click)="startEditingPrice(item.isEditing)"
                            class="text-xl font-medium text-gray-800">
                            {{item.precio.toFixed(2)}}
                        </p>
                        <input #inputPrice *ngIf="item.isEditing()" [(ngModel)]="item.precio" (blur)="savePrice(item)"                     
                            (keydown)="onPriceInputKeydown($event, item)"  
                            class="text-xl font-medium text-gray-800 border-b-2 border-gray-400 focus:outline-none focus:border-purple-500" />
                    </div>
                </div>
                <p class="text-gray-400 text-sm mt-1">{{formatDate(item.fecha)}}</p>

                <!-- Botón de eliminar -->
                <button class="absolute right-0 bottom-0 text-gray-400 hover:text-red-500" (click)="deleteItem(item.id!)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                    </svg>
                </button>
            </div>

            <div *ngIf="listItems().length === 0" class="text-center text-gray-500 py-8">
                No hay elementos en esta lista. ¡Agrega uno nuevo!
            </div>
        </div>
    </div>
</div>

<!-- Total and Floating Action Button -->
<div class="fixed bottom-0 left-0 right-0 flex justify-between items-center p-6 bg-white shadow-md">
    <div class="text-2xl font-bold text-gray-800">
        S/ {{totalAmount()}}
    </div>
    <button class="h-16 w-16 rounded-full bg-purple-200 flex items-center justify-center shadow-lg"
        (click)="toggleAddModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="text-purple-900">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
    </button>
</div>

<!-- Modal para agregar nuevo elemento -->
<div *ngIf="showAddModal()" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-6 w-11/12 max-w-md">
        <h2 class="text-xl font-medium text-gray-800 mb-4">Nuevo Item</h2>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre" >
                Nombre
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="nombre" type="text" placeholder="Ej: Leche" [(ngModel)]="newItem.nombre" #inputItem>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="precio">
                Precio (S/)
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="precio" type="number" step="0.01" min="0" placeholder="0.00" [(ngModel)]="newItem.precio">
        </div>

        <div class="flex justify-end space-x-2">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                (click)="toggleAddModal()">
                Cancelar
            </button>
            <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded"
                (click)="addNewItem()" [disabled]="!newItem.nombre.trim() || newItem.precio < 0">
                Guardar
            </button>
        </div>
    </div>
</div>